.button .border {
    border-radius: 7px  ;
    background-color: snow;
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; 
    margin: auto;
    z-index: -1;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
}

.button:hover .border {
    /* -webkit-transform: scale(1.04); */
    transform: scale(1.03);
}

.button span {
    color: #323232;
    font-family:'calibri';
    z-index: 1;
}

.button {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 0.5em 1em;
    font-size: 0.5em;
    cursor: pointer;
    text-decoration: none;
}

.button span:active {
    text-decoration: none;
}